# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
dev-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local ziped project for manual deployment
deploy.zip

# local embedded replica of database
dev.db*

# local SSL certificates (generated with mkcert)
.certs/

# your ai api keys
.cursor/mcp.json

# plans created by cursor
.cursor/plans/
