---
import "@/app/ui/styles/globals.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <title>Synbase</title>
        <meta
            content="Find synergizing cards for your EDH Commander deck. You are the builder, we give you the tools."
            name="description"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <Font cssVariable="--font-jetbrains-mono" preload />

        <slot name="head" />
    </head>

    <body>
        <slot />
    </body>
</html>
