---
import RootLayout from "@/app/ui/components/RootLayout.astro";
---

<RootLayout>
    <div class="container flex items-center justify-center h-screen">
        <h1 class="text-3xl font-bold">Synbase</h1>
    </div>
</RootLayout>
